@font-face {
    font-family: 'camelliadeeregular';
    src: url('css/camelliadee-webfont.eot');
    src: url('css/camelliadee-webfont.eot?#iefix') format('embedded-opentype'),
         url('css/camelliadee-webfont.woff') format('woff'),
         url('css/camelliadee-webfont.ttf') format('truetype'),
         url('css/camelliadee-webfont.svg#camelliadeeregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body{
    background: none repeat scroll 0 0 #D9D9D9;
    color: #FFFFFF;
    font-family: 'camelliadeeregular';
    margin: 0;
    padding: 0;
} 

#contenedor{
 width:100%;
}

#cabecera{

 height:150px;

background: #db4b39; /* Old browsers */
background: -moz-linear-gradient(left,  #db4b39 2%, #a73d60 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(2%,#db4b39), color-stop(100%,#a73d60)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  #db4b39 2%,#a73d60 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  #db4b39 2%,#a73d60 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  #db4b39 2%,#a73d60 100%); /* IE10+ */
background: linear-gradient(to right,  #db4b39 2%,#a73d60 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#db4b39', endColorstr='#a73d60',GradientType=1 ); /* IE6-9 */


    background-size:100%;
}

#usuario{
  font-size:16px;
  padding:10px;
}
#fecha{
  font-size:35px;
  text-align:center;
}
#dia{
  font-size:14px;
  text-align:right;
  padding:10px;
}

#barra{
 height:53px;
background: #e68278; /* Old browsers */
background: -moz-linear-gradient(left,  #e68278 2%, #c27893 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(2%,#e68278), color-stop(100%,#c27893)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  #e68278 2%,#c27893 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  #e68278 2%,#c27893 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  #e68278 2%,#c27893 100%); /* IE10+ */
background: linear-gradient(to right,  #e68278 2%,#c27893 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#db4b39', endColorstr='#c27893',GradientType=1 ); /* IE6-9 */


    background-size:100%;
 width:100%;
}
#barra img{
 float:left;
}

#estado{
 height:53px;
 float:left;
     margin: 9px;
}

#contenidos{
 margin-top:6px;
 color:#e1714a;
}

.bgGris {
    background-color: #F1F1F1;
    float: left;
    width: 100%;
}

.bgBlanco {
    background-color: #FFF;
    float: left;
    width: 100%;
}



.izqBg1{
 width:6px;
 min-width:6px;
 background-color:#ffc867;
 float:left;
 height:110px;;
}

.izq1{
position:relative;
    background: url(img/estado.png) no-repeat scroll left top;
    font-size: 25px;
    height: 100px;
    padding: 10px 0 0 80px;
}


.izqBg2{
 width:6px;
 min-width:6px;
 background-color:#f9b661;
 float:left;
 height:110px;;
}

.izqBg3{
 width:6px;
 min-width:6px;
 background-color:#e1714a;
 float:left;
 height:110px;;
}

.izqBg4{
 width:6px;
 min-width:6px;
 background-color:#d44a3e;
 float:left;
 height:110px;;
}

#iconGreen1, #iconGreen2, #iconGreen3, #iconGreen4{
position:absolute;
top:31px;
left:33px;
 background-color:#0a0;
 border-radius: 15px;
 width:12px;
 height:12px;
 display:none;
}

#ok1, #ok2, #ok3, #ok4{
 color:#0a0;
 display:none;
}



#accelerometer{
font-family:arial;
}

